/* ======= 1. CSS VARIABLES ======= */

:root {
/* ------ Color Variables ------ */
--b1ack_900: #000000;
--black_990_66: #00000066;
--blue_gray_400: #898989;
--red_800: #b23835;
--white_a700: #ffffff;

/* ------ Border Radius Variables ------ */
--radius-xs: 1px;
--radius-sm: 12px;
}

/* ======= 2. Common CSS ======= */

.header__menu {
    margin-left: 96px;
    width: 52%;
    display: flex;
    justify-content: space—between;
    flex-wrap: wrap;
    gap: 20px;
    @media only screen and (max-width: 1050px) {
        width: 100%;
        margin-left: 0px;    
    }    
}