@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 50%;
}

.navbar a {
    color: #000;
    font-size: 23px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 60px;
}

.navbar a:hover {
    text-decoration: underline;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.intro-content {
    max-width: 100%;
}

.intro-content h1{
    font-size: 58px;
    font-weight: 900;
    word-spacing: 10px;
    line-height: 90px;
}

.intro-content p{
    font-size: 19px;
    font-weight: 600;
    word-spacing: 10px;
    line-height: 30px;
}

.intro-content span {
    color: #994102;
}


