@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*
color pallete theme :
#CACACA
#484848
#B23A39
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all 0.5s;
}

.header-scrolled {
    background-color: #a0a0a0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}

.logo {
    width: 50%;
}

.navbar a {
    color: #000;
    font-size: 23px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 60px;
}

.navbar a:hover {
    text-decoration: underline;
}

.home {
    background-image:url("asset/line.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.intro-content {
    flex: 1;
    max-width: 50%;
    padding: 10%;
}

.intro-content h1{
    font-size: 58px;
    font-weight: 900;
    word-spacing: 10px;
    line-height: 90px;
    letter-spacing: 7px;
}

.intro-content p{
    font-size: 19px;
    font-weight: 600;
    word-spacing: 10px;
    line-height: 30px;
}

.intro-content span {
    letter-spacing: 7px;
    color: #994102;
}

.intro-content .btn-box {
    margin-top: 15px;
    display: flex;
    width: 345px;
    height: 50px;
    justify-content: left;
    align-items: center;
}

.btn-box a {
    display: inline-flex;
    width: 200px;
    height: 100%;
    background: #B23A39;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.intro-image {
    flex: 1;
    max-width: 100%;
    padding: 3%;
}

.about {
    height: 70vh;
    display: flex;
    padding-top: 50px;
}

.about-content {
    padding-left: 10%;
    padding-top: 7%;
    max-width: 55%;
}

.about-content h1 {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-decoration: underline;
}

.about-content p{
    padding-top: 20px;
    font-weight: 300;
    font-size: 37px;
}

.about-content span {
    font-weight: 700;
}

.about-image {
    max-width: 45%;
    padding-left: 10px;
    padding-top: 5%;
    margin-left: 50px;
}

.services {
    height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.services-title {
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    text-shadow: #000;
}

.services-title h1 {
    font-size: 48px;
    font-weight: 700;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;;
}

.card {
    width: 480px;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card img {
    display: block;
    width: 19%;
    height: auto;
}

.card h2 {
    margin-top: 20px;
    display: block;
}

.card p {
    margin-top: 30px;
    display: block;
}

.btn-services {
    margin-top: 30px;
    display: block;
    width: 345px;
    height: 50px;
    justify-content: left;
    align-items: center;
}

.btn-services a {
    display: inline-flex;
    width: 200px;
    height: 100%;
    background: #B23A39;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
}





