@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 50%;
}

.navbar a {
    color: #000;
    font-size: 23px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 60px;
    transition: .3s;
}

.navbar a:hover {
    text-decoration: underline;
}
